---
layout: default
---
<!-- Hero Section -->
<section class="hero">
    <div class="container hero-container">
        <div class="hero-content">
            <h1 class="hero-title">
                Build your <span class="text-highlight">dream wiki</span> hassle-free
            </h1>
            <p class="hero-description">
                Focus on what you love
                and let us take care of the technical details. Built for creators, by enthusiasts.
            </p>
            <div class="hero-btns">
                <a class="btn-hero-primary" href="https://meta.miraheze.org/wiki/Special:RequestWiki" target="_blank"
                    rel="noopener noreferrer">
                    Start your wiki today
                </a>
                <!-- <a class="btn-hero-secondary" href="https://communities.miraheze.org" target="_blank"
                    rel="noopener noreferrer">
                    Explore communities
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a> -->
            </div>
            <!-- <div class="hero-stats">
                <div class="avatar-group">
                    <img class="avatar" alt="Profile picture of a user" src="assets/CommunityBattleCats.png" />
                    <img class="avatar" alt="Profile picture of a user" src="assets/CommunityCI.png" />
                    <img class="avatar" alt="Profile picture of a user" src="assets/CommunityPizzaTower.png" />
                </div>
                <p class="stats-text"><span class="stats-count">5,000+</span> active communities</p>
            </div> -->
        </div>
        <!-- <div class="hero-image-wrapper">
            <div class="hero-bg-glow"></div>
            <div class="hero-image-container">
                <a href="https://fischipedia.org" target="_blank" rel="noopener noreferrer">
                    <img class="hero-image" alt="Screenshot of Fischipedia"
                        src="assets/fischipedia.org_wiki_Fisch_Wiki.png" />
                </a>
            </div>
        </div> -->
    </div>
</section>

<!-- Community Showcase -->
<section class="features-section section">
    <div class="playful-blob-container">
        <div class="playful-blob blob-squircle"></div>
    </div>
    <div class="container-wrapper">
        <div class="container section-header">
            <h2 class="section-title">Everything you need to build, right here</h2>
            <!-- <div class="accent-line"></div> -->
        </div>
        <div class="container features-grid">
            <!-- Ad-free -->
            {% include feature_card.html
            icon="block"
            title="Ad-free"
            description="Everybody hates ads, we do too. None of our wikis feature or will ever feature any ads,
            guaranteed."
            %}

            <!-- Configure it freely -->
            {% include feature_card.html
            icon="settings_suggest"
            title="Configure it freely"
            description="Our self-service interface allows administrators to easily configure almost every aspect of
            their
            wiki."
            %}

            <!-- Customizability -->
            {% include feature_card.html
            icon="palette"
            title="Customizability"
            description="Make it feel like home. Choose and configure over 300 extensions and skins to your hearts
            content."
            %}

            <!-- Custom domains -->
            {% include feature_card.html
            icon="language"
            title="Custom domains"
            description="Express yourself! All wikis can choose to use a custom domain of their own if they wish, for
            free."
            %}

            <!-- Friendly support -->
            {% include feature_card.html
            icon="volunteer_activism"
            title="Friendly support"
            description="Our team of friendly MediaWiki experts is here to help you at every step of the way. Just ask!"
            %}

            <!-- VisualEditor support -->
            {% include feature_card.html
            icon="edit_square"
            title="VisualEditor support"
            description="While others charge you for setting it up, we support VisualEditor out of the box, for free."
            %}
        </div>
    </div>
</section>

<!-- Why Miraheze Section -->
<section class="showcase-section section">
    <div class="playful-blob-container">
        <div class="playful-blob blob-bevel right"></div>
    </div>
    <div class="container-wrapper">
        <div class="container section-header">
            <div>
                <h2 class="section-title">A home for every community</h2>
                <p class="section-subtitle">
                    Discover knowledge bases across countless topics, crafted by passionate fans and experts.
                </p>
            </div>
            <div>
                <a class="btn-page" href="https://communities.miraheze.org" target="_blank" rel="noopener noreferrer">
                    View directory
                </a>
            </div>
        </div>
        <div class="container showcase-grid">
            <!-- Gaming -->
            {% include showcase_grid.html
            icon="joystick"
            title="Gaming"
            description="From indie gems to popular games, with a deep catalog of features and strategies."
            link="https://meta.miraheze.org/wiki/Special:WikiDiscover?category=gaming"
            %}

            <!-- TV Shows -->
            {% include showcase_grid.html
            icon="movie"
            title="Entertainment"
            description="Deep dive into lore, character arcs, and episode guides for people's favorite series."
            link="https://meta.miraheze.org/wiki/Special:WikiDiscover?category=entertainment"
            %}

            <!-- Tech -->
            {% include showcase_grid.html
            icon="handyman"
            title="Technology"
            description="Technical documentation, software guides, and open-source project libraries."
            link="https://meta.miraheze.org/wiki/Special:WikiDiscover?category=electronics"
            %}

            <!-- Music -->
            {% include showcase_grid.html
            icon="library_music"
            title="Music"
            description="Learn more about artists' and their discographies."
            link="https://meta.miraheze.org/wiki/Special:WikiDiscover?category=music"
            %}

            <!-- Sports -->
            {% include showcase_grid.html
            icon="sports_baseball"
            title="Sports"
            description="Player stats, team histories, and detailed analysis for fans across the globe."
            link="https://meta.miraheze.org/wiki/Special:WikiDiscover?category=sports"
            %}

            <!-- Education -->
            {% include showcase_grid.html
            icon="book_ribbon"
            title="Education"
            description="Academic research, language learning resources, and community study guides."
            link="https://meta.miraheze.org/wiki/Special:WikiDiscover?category=education"
            %}
        </div>

        <div class="container makeyourown-wrapper">
            <div class="makeyourown">
                <div class="makeyourown-header">
                    <h2 class="section-title">
                        Not on the list? Make your own!
                    </h2>
                    <p class="section-middle-text">
                        Create a community-driven knowledge base for your interests or projects.
                    </p>
                </div>
                <a class="btn-hero-primary" href="https://meta.miraheze.org/wiki/Special:RequestWiki" target="_blank"
                    rel="noopener noreferrer">
                    Start your wiki today
                </a>
            </div>
        </div>
    </div>
</section>

<section class="pay-section">
    <div class="container section-header">
        <p class="section-middle-text">
            Miraheze is a non-profit entity. We are funded entirely by generous donations from users like you, which is
            why we never need to show ads.
        </p>
        <div style="margin: 2rem 0 0 0">
            <a class="btn-page" href="https://meta.miraheze.org/wiki/Special:RequestWiki" target="_blank"
                rel="noopener noreferrer">
                <span class="material-symbols-outlined">volunteer_activism</span>
                Donate today
            </a>
        </div>
    </div>
</section>

<section class="beehive-section">
    <div class="container">
        <!-- <div class="beehive-header-details">
            <h1 class="section-title">
                Join the hive
            </h1>
            <p class="section-subtitle">
                Stay up to date with the latest news, updates, and community highlights from Miraheze.
            </p>
        </div> -->

        <div class="hex-grid">
            <a class="social-btn mastodon top" href="https://mastodon.social/@miraheze" title="Mastodon">
                <div class="top">
                    <img src="assets/mastodon.svg" height="100" alt="" aria-hidden="true" class="social-icon" />
                </div>
            </a>
            <a class="social-btn bluesky left" href="https://bsky.app/profile/miraheze.org" title="Bluesky">
                <div class="left">
                    <img src="assets/bluesky.svg" height="100" alt="" aria-hidden="true" class="social-icon" />
                </div>
            </a>
            <!-- <div class="center"></div> -->
            <a class="social-btn facebook leftbottom" href="https://facebook.com/Miraheze" title="Facebook">
                <div class="leftbottom">
                    <img src="assets/facebook.svg" height="100" alt="" aria-hidden="true" class="social-icon" />
                </div>
            </a>
            <a class="social-btn twitter bottom" href="https://twitter.com/miraheze" title="X (formerly Twitter)">
                <div class="bottom">
                    <img src="assets/x.svg" height="100" alt="" aria-hidden="true" class="social-icon" />
                </div>
            </a>
            <a class="social-btn github rightbottom" href="https://github.com/miraheze" title="GitHub">
                <div class="rightbottom">
                    <img src="assets/github.svg" height="100" alt="" aria-hidden="true" class="social-icon" />
                </div>
            </a>
            <a class="social-btn discord right" href="https://miraheze.org/discord" title="Discord">
                <div class="right">
                    <img src="assets/discord.svg" height="100" alt="" aria-hidden="true" class="social-icon" />
                </div>
            </a>
        </div>
    </div>
</section>