:root {
    --background: #FFF8FE;
    --surface: #FFF8FE;
    --surface-container-low: #f5f3f2;
    --surface-container: #241913;
    --surface-container-high: #f5f3f2;
    --surface-dim: #FFF8FE;
    --surface-tint: #ffe042;
    --color-base: #151515;
    --primary: #ffd642;
    --primary-container: #4c3120;
    --primary-dim: #fec536;
    --primary-soft: #fff5ad;
    --primary-selection: #ffc56e;
    --button-hover: rgba(255, 255, 25, 0.1);
    --color-link: oklch(from var(--primary-dim) 0.6 c h);
    --background-footer: var(--primary-soft);

    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-full: 9999px;

    --font-headline: 'Google Sans Flex', sans-serif;
    --font-body: 'Google Sans Flex', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #151515;
        --surface: #1C1C1C;
        --surface-container-low: #242424;
        --surface-container: #2D2D2D;
        --surface-container-high: #383838;
        --surface-dim: #151515;
        --surface-tint: #ffad42;
        --color-base: #F5F3F2;
        --primary: #ffaa42;
        --primary-container: #4c3120;
        --primary-dim: #ffad41;
        --primary-soft: #5D4200;
        --primary-selection: #70581b;
        --button-hover: rgba(255, 214, 66, 0.1);
        --color-link: oklch(from var(--primary-dim) 0.8 c h);
        --background-footer: #30240C;
    }
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-variation-settings: "ROND" 90;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
    }
}

@view-transition {
    navigation: auto;
}

::selection {
    background-color: var(--primary-selection);
}

html {
    scroll-behavior: smooth;
    background-color: var(--background);
}

body {
    background-color: var(--background);
    color: var(--color-base);
    font-family: var(--font-body);
    line-height: 1.5;

    &::before {
        position: absolute;
        content: '';
        inset: 0;
        z-index: 0;
        background: radial-gradient(70% 50% at 18% 0%, rgba(255, 138, 90, 0.1) 0%, transparent 55%), radial-gradient(65% 50% at 82% 0%, rgba(255, 190, 100, 0.13) 0%, transparent 55%), radial-gradient(85% 45% at 50% 2%, rgba(255, 156, 90, 0.08) 0%, transparent 60%), radial-gradient(60% 40% at 35% 38%, rgba(255, 90, 90, 0.05) 0%, transparent 60%), rgb(16, 16, 16);
        user-select: none;
        mask-image: linear-gradient(to bottom, black 65%, transparent);
        filter: saturate(1.5);
    }

    &::after {
        position: absolute;
        content: '';
        top: 30px;
        right: 0;
        z-index: 0;
        mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3) 65%, transparent);
        background: url(assets/buzzylanding.png) no-repeat right bottom;
        background-size: auto 100%;
        height: 70vh;
        width: 100%;
    }
}

h1,
h2,
h3,
h4,
.headline {
    font-family: var(--font-headline);
    font-variation-settings: "ROND" 100;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
    user-select: none;

    &:empty {
        display: none;
    }
}

/* Layout Utilities */
.container {
    max-width: calc(1500px - 2rem);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Header & Nav */
.main-header {
    /* background-color: oklch(from var(--surface-container-low) l c h / 0.5); */
    backdrop-filter: blur(16px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 50;

    @media (max-width: 768px) {
        position: static !important;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 3rem;
    /* height: 56px;
    max-height: 56px;
    max-width: 1280px; */
    margin: 0 auto;
    font-family: var(--font-headline);
    font-weight: 500;
    position: relative;
}

.logo {
    font-family: "Ubuntu", var(--font-headline);
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-base);
    letter-spacing: -0.025em;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-links {
    display: none;
    align-items: center;
    flex: 1;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }
}

.nav-link {
    transition: all 0.3s;
    padding: 0.625rem 1.25rem;
    border-bottom: 2px solid transparent;
    border-radius: var(--radius-full);
    will-change: transform, background-color, color;
}

.nav-link:hover {
    color: var(--color-link);
    background-color: var(--button-hover);
    animation: bouncebutton 0.3s ease-in-out forwards;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-login {
    display: none;
}

@media (min-width: 1024px) {
    .btn-login {
        display: block;
        margin-right: -10px;
    }
}

.btn-create {
    color: #FFDEA5;
    background-color: oklch(from var(--primary-soft) l c h / 0.5);
    padding: 0.625rem 1.25rem;
    border-radius: var(--radius-full);
    font-weight: 700;
    transition: all 0.2s;
    will-change: transform;

    &:hover {
        background-color: var(--primary-dim);
        animation: bouncebutton 0.3s ease-in-out forwards;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

@keyframes bouncebutton {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.05, 1);
    }
}

.btn-page {
    color: #FFDEA5;
    background-color: var(--primary-soft);
    padding: 1rem 2.25rem;
    border-radius: var(--radius-full);
    font-weight: 700;
    transition: all 0.2s;
    font-size: 1.25rem;
    display: inline-block;

    &:hover {
        background-color: var(--primary-dim);
        animation: bouncebutton 0.3s ease-in-out forwards;
    }
}

/* Hero Section */
.hero {
    padding-top: 2rem;
    padding-bottom: 6rem;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 768px) {
    .hero-container {
        flex-direction: row;
    }

    .hero-content {
        width: 75%;
    }
}

.hero-content {
    z-index: 10;
}

.hero-title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-base);
    line-height: 1.1;
    margin-bottom: 0.5rem;
    letter-spacing: -0.025em;

    @media (max-width: 768px) {
        >br {
            display: none !important;
        }
    }
}

/* media (min-width: 768px) {
    .hero-title {
        font-size: 3.75rem;
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 4.5rem;
    }
} */

.text-highlight {
    color: var(--primary-dim);
}

.hero-description {
    font-size: 1.25rem;
    color: #bfbfbf;
    max-width: 600px;
    margin-bottom: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

@media (min-width: 640px) {
    .hero-btns {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .hero-btns {
        justify-content: flex-start;
    }
}

.btn-hero-primary {
    color: #FFDEA5;
    background-color: var(--primary-soft);
    color: var(--color-base);
    padding: 1rem 2rem;
    border-radius: var(--radius-full);
    font-weight: 700;
    font-size: 1.125rem;
    transition: all 0.25s;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: repeating-linear-gradient(116deg, transparent 10%, rgba(255, 255, 255, 0.07) 10%, rgba(255, 255, 255, 0.07) 15%, transparent 15%, transparent 20%, rgba(255, 255, 255, 0.07) 20%, rgba(255, 255, 255, 0.07) 22.5%, transparent 22.5%);
        z-index: -1;
        opacity: 0;
        transition: 0.3s opacity;
    }

    &:hover {
        transform: translateY(-2px);
        background: var(--primary-dim);
        box-shadow: 0 20px 25px -5px rgba(110, 60, 0, 0.2);

        &::before {
            opacity: 1;
        }
    }
}

.btn-hero-secondary {
    padding: 1rem 2rem;
    border-radius: var(--radius-xl);
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--primary);
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-hero-secondary:hover {
    background-color: rgba(110, 60, 0, 0.1);
}

/* .hero-stats {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    .hero-stats {
        justify-content: flex-start;
    }
} */

@media (max-width: 768px) {
    /* .hero-stats {
        display: none;
    } */

    .btn-hero-primary {
        width: 100%;
        display: block;
    }
}

.avatar-group {
    display: flex;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-full);
    border: 2px solid var(--background);
    background: var(--background);
    margin-left: -0.5rem;
}

.avatar:first-child {
    margin-left: 0;
}

.stats-text {
    font-size: 0.875rem;
}

.stats-count {
    font-weight: 700;
    background: var(--surface-container-high);
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    border-radius: var(--radius-full);
}

.hero-image-wrapper {
    flex: 1;
    position: relative;
}

.hero-image-container {
    border-radius: var(--radius-2xl);
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    transform: rotate(3deg);
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(0);
    transition: transform 0.25s, filter 0.25s;

    &:hover {
        transform: scale(1.2);
        filter: grayscale(0.9);
    }
}

/* Wave Divider */
.wave-path-surface {
    fill: var(--background-footer);
}

@keyframes waveDividerAnimation {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
    }

    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
    }

    100% {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
    }
}

.wavePath {
    animation: waveDividerAnimation 20s linear infinite alternate;
}

.dividerTop {
    transform: translateY(10px);
}

.dividerBottom {
    transform: rotate(180deg) translateY(10px)
}

.section {
    position: relative;
    overflow: hidden;
}

/* Community Showcase */
.features-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;

    >* {
        grid-area: 1 / 1;
    }
}

.features-section .playful-blob-container {
    z-index: 1;
}

.features-section>*:not(.playful-blob-container) {
    z-index: 2;
}

.section-header {
    margin-bottom: 1rem;
}

.showcase-section .section-header {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-base);
    margin-bottom: .5rem;

    @media (max-width: 768px) {
        font-size: 2.25rem !important;
    }
}


.beehive-section .section-title {
    margin-bottom: unset;
}

.section-subtitle {
    max-width: 45rem;
    font-size: 1.125rem;
}

@media (max-width: 768px) {
    .section-subtitle {
        margin-bottom: 1rem;
    }
}

.showcase-grid,
.features-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {

    .showcase-grid,
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    .showcase-grid,
    .features-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .showcase-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr))!important;
        gap: 1rem!important;
    }
}

.pay-section {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        margin-top: 5rem !important;
    }
}

.pay-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pay-section .section-middle-text {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 65vw;

    @media (max-width: 768px) {
        font-size: 1.5rem !important;
        max-width: unset !important;
    }
}

.showcase-card {
    background-color: var(--surface-container-high);
    border-radius: 3rem;
    overflow: hidden;
    height: 100%;
    transition: all 0.25s;
    position: relative;

    &:hover {
        /* transform: translateY(-5px); */
        background-color: var(--primary-soft);

        > .material-symbols-outlined {
            transform: scale(7) rotate(10deg);
        }
    }

    > .material-symbols-outlined {
        pointer-events: none;
        transform: scale(7);
        position: absolute;
        top: 30px;
        right: 30px;
        opacity: 0.3;
        mix-blend-mode: overlay;
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 60%);
        transition: .25s transform;
    }

    .card-body {
        padding: 3rem 2rem;
    }

    &.discover-card .card-body {
        padding: 2rem !important;

        @media (max-width: 768px) {
            padding: 2.5rem !important;
        }
    }

    .card-title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-base);
    }

    /* .badge {
        background-color: var(--primary-container);
        color: var(--on-primary);
        font-size: 0.75rem;
        font-weight: 700;
        padding: 0.25rem 0.5rem;
        border-radius: var(--radius-full);
    } */

    .card-image-wrapper {
        height: 12rem;
        overflow: hidden;

        @media (max-width: 768px) {
            height: 8rem;
        }
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
    }

    &:hover .card-image {
        transform: scale(1.1);
    }
}

/* Features Section */
.showcase-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: grid;

    >* {
        grid-area: 1 / 1;
    }

    .playful-blob-container {
        z-index: 1;
    }

    >*:not(.playful-blob-container) {
        z-index: 2;
    }
}

.accent-line {
    height: 0.375rem;
    width: 6rem;
    background-color: var(--primary-dim);
    margin: 0 auto;
    border-radius: var(--radius-full);
}

.feature-card {
    background: var(--surface-container-high);
    /* background-color: oklch(from var(--surface-container-high) l c h / 0.8);
    backdrop-filter: blur(10px); */
    padding: 2rem;
    border-radius: 3rem;
    /* transition: transform 0.2s; */

    &:nth-child(odd) {
        >.feature-icon-wrapper {
            transform: rotate(3deg)
        }
    }

    &:nth-child(even) {
        >.feature-icon-wrapper {
            transform: rotate(-3deg);
        }
    }
}

.feature-icon-wrapper {
    width: 3.5rem;
    height: 3.5rem;
    color: #FFDEA5;
    background-color: var(--primary-soft);
    border-radius: var(--radius-2xl);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    transition: all 0.3s;

    &,
    >.material-symbols-outlined {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

.feature-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--color-base);
}

.feature-description {
    color: var(--color-base);
    line-height: 1.625;
}

/* Footer */
.footer-wave {
    margin-bottom: -30px;
}

.main-footer {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
    }

    &::after {
        background: url(assets/hexagon.svg) repeat;
        background-size: 80px auto;
        mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.01) 30%, rgba(0, 0, 0, 0.01) 80%, transparent);
    }

    &::before {
        background: var(--background-footer);
    }
}

.footer-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 10;
    font-family: var(--font-body);
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

@media (min-width: 768px) {
    .footer-logo-section {
        align-items: flex-start;
    }
}

.footer-logo {
    font-family: 'Ubuntu', var(--font-headline);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-copyright {
    color: oklch(from var(--color-base) l c h / 0.8);
    text-align: left;
}

@media (max-width: 768px) {
    .footer-copyright {
        text-align: center;
    }
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-link {
    padding: 0.625rem 1.25rem;
    border-radius: var(--radius-full);
    color: oklch(from var(--color-base) l c h / 0.8);
    transition: all 0.1s;
    will-change: transform;
}

.footer-link:hover {
    opacity: 1;
    transform: scale(1.1);
    color: var(--color-link);
    background-color: var(--button-hover);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.main-footer .social-btn {
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius-full);
    border: 1px solid oklch(from var(--color-base) l c h / 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.social-btn:hover {
    background-color: #ea580c;
    color: #ffffff;

    &.mastodon {
        background-color: #6364FF;
    }

    &.bluesky {
        background-color: #1185FE;
    }

    &.facebook {
        background-color: #0866FF;
    }

    &.twitter,
    &.github {
        background-color: #2d2b2b;
    }

    &.discord {
        background-color: #5865F2;
    }
}

.social-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    user-select: none;
    pointer-events: none;

    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

@media (max-width: 768px) {
    .btn-hero-primary .material-symbols-outlined {
        display: none;
    }
}

.playful-blob-container {
    position: absolute;
    inset: 0;
    pointer-events: none;

    .playful-blob {
        position: absolute;
        top: 0;
        left: 0;
        width: 30vw;
        aspect-ratio: 1;
        background: oklch(from var(--primary-dim) l c h / 0.5);
        /* linear-gradient(135deg, var(--primary-dim) 30%, var(--surface-tint)); */

        &.right {
            left: unset !important;
            right: 0;
        }
    }
}

@keyframes rotate-blob-squircle {
    0% {
        transform: rotate(0deg) translateY(30%);
    }

    50% {
        transform: translateX(30px) rotate(180deg) scale(0.8) translateY(10%);
    }

    100% {
        transform: rotate(360deg) translateY(30%);
    }
}

@keyframes rotate-blob-bevel {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: translateX(-25%) rotate(-180deg) translateY(10%) scale(0.8);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.playful-blob.blob-squircle {
    border-radius: 25%;
    animation: 35s rotate-blob-squircle linear infinite;
}

.playful-blob.blob-bevel {
    border-radius: 25%;
    corner-shape: bevel;
    animation: 35s rotate-blob-bevel linear infinite;
}

.hex-grid {
    --mirawidth: 130px;
    --mirawidthspacing: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 1rem;

    /* width: max-content;
    margin: 2rem auto; */
    padding-right: var(--mirawidthspacing);

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    /* display: grid;
    grid-template-columns: repeat(3, var(--mirawidth));
    grid-template-rows: repeat(6, auto);
    gap: var(--mirawidthspacing) 0;
    grid-auto-flow: row;
    grid-template-areas:
        ". top ."
        "left top right"
        "left center right"
        "leftbottom center rightbottom"
        "leftbottom bottom rightbottom"
        ". bottom ."; */

    >* {
        width: calc(var(--mirawidth) + var(--mirawidthspacing));
        height: var(--mirawidth);
        clip-path: polygon(25% 0%,
                75% 0%,
                100% 50%,
                75% 100%,
                25% 100%,
                0% 50%);
        transition: all 0.3s;

        &:not(.center) {
            background-color: var(--color-link);
        }

        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain;
            padding: 2rem;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    >a>div {
        width: 100%;
        height: 100%;
    }

    .top {
        grid-area: top;
    }

    .left {
        grid-area: left;
    }

    .center {
        grid-area: center;
        background-color: #8e7650;
    }

    .leftbottom {
        grid-area: leftbottom;
    }

    .bottom {
        grid-area: bottom;
    }

    .rightbottom {
        grid-area: rightbottom;
    }

    .right {
        grid-area: right;
    }

    @media (max-width: 768px) {
        --mirawidth: 100px;
        --mirawidthspacing: 15px;
    }
}

.beehive-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;

    .beehive-header-details {
        max-width: 45%;
    }

    /* @media (min-width: 768px) {
        .hex-grid {
            margin-right: unset !important;
        }
    } */

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .beehive-header-details {
            max-width: unset!important;
        }
    }
}