<header class="main-header">
        <nav class="main-nav">
            <a href="{{ "/" | relative_url }}" rel="noopener noreferrer">
                <div class="logo">
                    <img src="assets/Miraheze-Logo.svg" height="30" alt="Miraheze logo" />
                    Miraheze
                </div>
            </a>
            <div class="nav-links">
                <!-- <a class="nav-link active" href="#">Features</a> -->
                <a class="nav-link" href="{{ "/discover" | relative_url }}">Discover</a>
                <a class="nav-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Donate">Donate</a>
                <a class="nav-link" href="https://meta.miraheze.org/wiki/Special:MyLanguage/Help_center">Support</a>
            </div>
            <div class="nav-actions">
                <a class="nav-link btn-login" href="https://meta.miraheze.org/wiki/Special:UserLogin" target="_blank"
                    rel="noopener noreferrer">Log in</a>
                <a class="btn-create" href="https://meta.miraheze.org/wiki/Special:RequestWiki" target="_blank"
                    rel="noopener noreferrer">Create Wiki</a>
            </div>
        </nav>
    </header>