<a href={{ include.link }} target="_blank" rel="noopener noreferrer">
    <div class="showcase-card">

        <span class="material-symbols-outlined">{{ include.icon }}</span>
        
        <div class="card-body">
            
            <div class="card-title-row">
                <h3 class="card-title">
                    
                    {{ include.title }}
                </h3>
            </div>
            <p class="card-text">{{ include.description }}</p>
        </div>
    
</div>
</a>