<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Miraheze - Free, Ad-Free Wiki Hosting</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,1..100&amp;display=swap"
        rel="stylesheet" />
    <!-- Icons -->
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,1&amp;display=swap"
        rel="stylesheet" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="style.css" />
</head>

<body class="page-{{ page.body_class | default: 'mp' }}">
    <!-- TopNavBar -->
    {% include header.html %}
    {{content}}
    {% include footer.html %}
</body>

</html>